html {
    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 0;

    font-family: 'cwTeXYen', sans-serif;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-weight: bolder;
    }
}

.pconly{
    color:red; 
}

.start {
    width: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    background-position: center;
    position: fixed;
    right: 6px;
    bottom: 6px;

    a {
        line-height: 60px;
        color: white;
        display: block;
    }
}

#banner {
    width: 100%;
    // height: 40vh;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        // opacity: 0.8;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

#about {
    width: 100%;
    margin-top: 50px;

    a {
        display: block;
    }

    .panel1,
    .panel2,
    .panel3 {
        display: none;
       
    }

    .flip1:hover,
    .flip2:hover,
    .flip3:hover {
        color: white;
        cursor: pointer;
    }

    h5 {
        border-bottom: 3px #17a2b8 solid;
        padding: 10px;
    }

    .panel3 .card-body {
        display: flex;
    }
}

@media screen and (max-width:576px) {
    #about .panel3 .card-body {
        display: inline-block;
    }
}

#service {
    width: 100%;
    margin-top: 50px;

    h5 {
        font-weight: bolder;
    }
}

#news,
#story {
    width: 100%;
    margin-top: 50px;
    tr:hover {
        background-color: rgba(153, 231, 50, 0.6);
        cursor: pointer;
    }
}


#photo {
    margin-top: 50px;

    .card-body {
        width: 100%;
    }

    .photo_swiper-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .card {

            margin-bottom: 30px;

            img {
                transition: .25s;
            }

            img:hover {
                transform: scale(1.05);
            }

        }
    }
}

#sponsor {
    width: 100%;
    margin-top: 50px;

    img {
        width: 250px;
    }
}

#contact {
    width: 100%;
    height: 100%;
    margin-top: 50px;

    iframe {
        width: 100%;
        height: calc(100% - 25px);
    }

    .col-sm {
        margin-bottom: 5px;
    }

}

footer {
    margin-top: 50px;
    text-align: center;
}