* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    width: 100%;
}

.flex {
    display: flex;
}

section {
    width: 100%;
    height: 100vh;
}

.start {
    width: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    background-position: center;
    position: fixed;
    right: 6px;
    bottom: 6px;
}

.start a {
    line-height: 80px;
    color:white;
    display: block;
    padding:3px;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgb(214, 211, 211);
    background-color: rgb(109, 109, 109);
}

/* NAV */

nav {
    background-color: rgb(109, 109, 109);
}

.navcontainer{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    background-image: url('../image/logo.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    align-self: center;
}

.link-target {
    list-style-type: none;
}

.link-target a {
    color: white;
    display: block;
    padding:20px;
}

/* Page1 */

#imageAndText {
    background-color: gray;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.bg {
    width: 50%;
    height: 500px;
    background-image: url('../image/dog5.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.bg:hover {
    background-image: url('../image/dog7.jpg');
}

.text {
    width:50%;
    color: white;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 24px;
}

/* Page2 */

#title{
    position: relative;
}

.px {
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.title {
    margin: 0 auto;
    align-self: center;
    color: white;
    font-size: 32px;
    letter-spacing: 5px;
    z-index: 9999;
}

.cover{
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left:0;
}

/* Page3 */

#card {
    background-color: gray;
}

.card-group {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.card1 {
    width: 33%;
    margin-right: 10px;
    height: 80%;
}

.card2 {
    width: 34%;
    height: 80%;
}

.card3 {
    width: 33%;
    height: 80%;
    margin-left: 10px;
}

.photosize {
    width: 100%;
    height: 50%;
}

.photo1 {
    background-image: url('../image/dog6.jpg');
    background-size: cover;
    background-position: center;
}

.photo2 {
    background-image: url('../image/dog5.jpg');
    background-size: cover;
    background-position: center;
}

.photo3 {
    background-image: url('../image/dog7.jpg');
    background-size: cover;
    background-position: center;
}

.cardtext {
    background-color: darkgray;
    font-size: 20px;
    color: white;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    height: 50%;
}


@media screen and (max-width:991px) {

    /* NAV */

    .link-target {
        display: none;
    }

    .navbtn {
        width: 50px;
        height: 50px;
        background-image: url('../image/menu.png');
        background-size: cover;
        order: -1;
    }

    .logo {
        display: none;
    }

    .navbtn:hover .link-target {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .link-group {
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: relative;
        top: 50px;
    }

    .link-target a {
       padding:10px;
    }

    /* Page1 */

    .container {
        flex-direction: column;
        justify-content: center;
    }

    .bg {
        margin: 0;
        width: 100%;
        height: 50%;
        margin-top: 20px;
    }

    .text {
        width:100%;
        order: -1;
        font-size: 20px;
    }

    /* Part2 */

    .cover{
        display: none;
    }

    .title{
        display: none;
    }

    /* Page3 */

    #card {
        width: 100%;
        height: 100vh;
    }

    .card-group {
        flex-direction: column;
        width: 100%;
        height: 80%;
        margin: 0;
        align-self: center;
    }

    .card1 {
        width: 80%;
        height: 33%;
        margin-right: 0px;
    }

    .card2 {
        width: 80%;
        height: 33%;
    }

    .card3 {
        width: 80%;
        height: 33%;
        margin-left: 0px;
    }
}